calculateWorkingDay/connectorUpdate20241011/src/ConnectorPackage/package/PkgAssets/FlowSolution/Workflows/TestCalculateWorkingDay20241011-61936E6B-9487-EF11-AC21-6045BDFBF8DE.json
{
  "properties": {
    "connectionReferences": {
      "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mightora_sharedcalculate20working20day5fe07b0f04a8b0d4c35f8d99aea54e2a1a3_a3eba"
        },
        "api": {
          "name": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
          "logicalName": "mightora_calculate-20working-20day"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3b501eb3-ae01-4a7d-be24-2f15c57dcb2d"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Basic_Next_Working_Day": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1c87e217-daa5-4004-a1a8-36494148596d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
              "operationId": "BasicNextWorkingDay",
              "apiId": ""
            },
            "parameters": {
              "date": "2022-12-23"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Combination_of_all_Calculate_Working_Day_Endpoints": {
          "runAfter": {
            "Basic_Next_Working_Day": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0dfcef61-451a-4a9b-aa07-0d185739567f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
              "operationId": "Combined",
              "apiId": ""
            },
            "parameters": {
              "date": "2022-12-23",
              "working_days": 1,
              "x_working_days": 4,
              "country": "scotland"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Date_Difference_Calculator": {
          "runAfter": {
            "Combination_of_all_Calculate_Working_Day_Endpoints": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ebe7402-b0ce-4ac0-af92-d53ae4c1edfa"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
              "operationId": "dateDifferenceCalculator",
              "apiId": ""
            },
            "parameters": {
              "working_days": 1,
              "start_date": "2022-12-23",
              "end_date": "2022-12-30"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Date_In_X_Working_Days": {
          "runAfter": {
            "Date_Difference_Calculator": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cee241b2-3df3-4aca-9511-d8ff34b74bcc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
              "operationId": "DateInXWorkingDays",
              "apiId": ""
            },
            "parameters": {
              "date": "2022-12-23",
              "working_days": 1,
              "x_working_days": 4
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "First_And_Last_Working_Day_Of_Month": {
          "runAfter": {
            "Date_In_X_Working_Days": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2d14966f-cd2b-4462-beb6-5c2ff0b9aef1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
              "operationId": "FirstAndLastWorkingDayOfMonth",
              "apiId": ""
            },
            "parameters": {
              "date": "2022-12-23",
              "working_days": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Is_Today_A_Working_Day": {
          "runAfter": {
            "First_And_Last_Working_Day_Of_Month": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb031d8e-9f93-40ad-a71d-36616436b20e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
              "operationId": "IsTodayAWorkingDay",
              "apiId": ""
            },
            "parameters": {
              "date": "2022-12-23",
              "working_days": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Next_Working_Day": {
          "runAfter": {
            "Is_Today_A_Working_Day": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b0d8667-5e2d-400f-9849-77cdea76e546"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_calculate-20working-20day-5fe07b0f04a8b0d4c3-5f8d99aea54e2a1a34",
              "operationId": "NextWorkingDay",
              "apiId": ""
            },
            "parameters": {
              "date": "2022-12-23",
              "working_days": 1,
              "x_working_days": 4
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}